@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

header {
    background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
    height: 850px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1149px;
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav_center {
    display: flex;
    column-gap: 30px;
}

.i {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: white;
    color: #FF4948;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i i {
    font-size: 20px;
}

.nav_hr {
    background-color: #FFFFFF;
    height: 47px;
    border: none;
    width: 1px;
}

.nav_right {
    color: #FFFFFF;
    font-size: 30px;
}

.wrapper {
    display: flex;
    margin-top: 64px;
    align-items: center;
    column-gap: 95px;
}

.wrapper_right {
    display: flex;
    flex-direction: column;
}

.wrapper_right a {
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.wrapper_right h1 {
    font-weight: 700;
    font-size: 99px;
    margin-top: 3px;
    color: #FFFFFF;
    width: 417px;
    line-height: 90px;
}

.price {
    display: flex;
    margin-top: 45px;
    align-items: center;
    column-gap: 30px;
}

.price h3 {
    font-weight: 700;
    font-size: 44px;
    display: flex;
    color: white;
}

.price hr {
    border: none;
    width: 1px;
    height: 50px;
    background-color: white;
}

.price span {
    font-weight: 500;
    font-size: 31px;
    color: #FFFFFF;
    opacity: 0.5;
}

.wrapper button {
    width: 191px;
    height: 51px;
    border-radius: 62px;
    background-color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 22px;
    color: #FF4948;
    margin-top: 35px;
}

.collection {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 130px;
}

.collection h2 {
    font-weight: 700;
    font-size: 44px;
    color: #180202;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 {
    position: relative;
}

.card2 {
    margin-right: -13%;
}

.card3 {
    margin-left: -13%;
}

.left {
    margin-right: 30px;
    font-size: 30px;
}

.right {
    margin-left: 30px;
    font-size: 30px;
}

.sec3 {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.sec3_left {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.sec3_left h3 {
    font-weight: 700;
    font-size: 44px;
    width: 460px;
}

.sec3_group {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.group_right {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.group_right h5 {
    font-weight: 500;
    font-size: 31px;
    color: #180202;
}

.group_right span {
    font-weight: 400;
    font-size: 16px;
    color: #180202;
}

.group_right a {
    font-weight: 500;
    font-size: 16px;
    color: #FF4948;
}

.group_img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: 1px solid #FDD8D8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3_img {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 5px solid #FF4948;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3_right {
    margin-top: 100px;
}

.sec4 {
    margin-top: 130px;
    text-align: center;
}

.sec4 h2 {
    font-weight: 700;
    font-size: 44px;
    color: #180202;
}

.sec4 p {
    font-weight: 400;
    font-size: 16px;
    color: #180202;
    margin-top: 15px;
}

.sec4_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 103px;
}

.sec4_card {
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 331px;
    row-gap: 35px;
}

.sec4_i {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.i_left {
    display: flex;
    column-gap: 10px;
    color: #FDAE38;
}

.i_right span {
    font-weight: 500;
    font-size: 16px;
    color: #180202;
}

.sec4_img,
.sec4_img_center,
.sec4_img_down {
    width: 332px;
    height: 331px;
    background-color: #FFE5EE;
    border-radius: 30px;
}

.sec4_img img,
.sec4_img_center img,
.sec4_img_down img {
    position: relative;
    margin-top: -50px;
}

.sec4_div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.sec4_img_center {
    background-color: #E5F1FF;
}

.sec4_img_down {
    background-color: #E5FFFB;
}

.sec4_other {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.other_left span {
    font-weight: 400;
    font-size: 22px;
    color: #180202;
}

.sec_5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20%;
}

.sec_5_right h2 {
    font-weight: 700;
    font-size: 44px;
    color: #000000;
}

.sec5_list {
    display: flex;
    column-gap: 5px;
}

.sec5_right span {
    font-weight: 400;
    font-size: 22px;
    color: #000000;
}

.sec5_i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec5_i i {
    font-size: 10px;
}

.sec5_hr {
    width: 292px;
    background-color: #000000;
    height: 1px;
    opacity: 0.1;
}

.sec_5_list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 48px;
}

.sec5_list {
    display: flex;
    align-items: center;
}

.end_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 152px;
}

.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 712px;
    height: 292px;
    background-color: #FFF4F4;
    border-radius: 20px;
}

.end h2 {
    font-weight: 700;
    font-size: 44px;
    color: #180202;
}

.end p {
    font-weight: 400;
    font-size: 16px;
    color: #180202;
    margin-top: 6px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.end input {
    width: 503px;
    height: 61px;
    border-radius: 73px;
    border: none;
    background-color: white;
    padding-left: 20px;
    outline: none;
}

.end button {
    width: 167px;
    height: 61px;
    border-radius: 50px;
    background-color: #FF4948;
    color: white;
    border: none;
    margin-left: -25%;
}

footer {
    width: 100%;
    height: 189px;
    background-color: #E86564;
    padding-top: 70px;
    margin-top: 130px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    display: flex;
    column-gap: 30px;

}

.footer ul a {
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}

.footer_right {
    display: flex;
    column-gap: 35px;
}

.footer_right span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF4948;
    font-size: 25px;
}